/* #ff3368 ; #ecfdff */

/* -----------------------------  basic  -------------------------------- */
/* 🔹 declaration: that is combination of property + value */
/* 🔹 Selector: Jis element par styling apply karni hai. (e.g., p, .class, #id) */
/* 🔹 Property: CSS ka wo feature jo element ki styling define karta hai. (e.g., color, font-size, margin) */
/* 🔹 Value: Property ka specific style jo apply hoga. (e.g., red, 16px, 10px) */ 


/* 🔹  selector in html or css */
/* selector {
    property: value; } declaration
} */

/* example */
/* 
a {
    color: #ff0000; /*} declaration */
    /* background-color: #000000;  */
/* } */ 

/* 🔹 class selector in html or css */
/* .selector {
    property: value; } declaration
} */

/* example */

.btn{
    color: red; /*} declaration */
}

/* 🔹 id selector in html or css */
/* #selector {
    property: value; } declaration
} */
 
/* example */

#btn{
    color: green; 
}

/*-------------------------------------- 🔹 pseudo class css --------------------------------------*/
/* there are many type of pseudo class css
🔹 selector:hover => Jab mouse link ke upar ho
🔹 selector:active => Jab link click ho raha ho
🔹 selector:link => Jab link pehle kabhi click na hua ho
🔹 selector:visited => Jab link pehle visit ho chuka ho 

Agar tumhara #selected koi div, button, ya paragraph hai, to :link aur :visited
kaam nahi karega. Fir tumhe bas :hover aur :active use karna chahiye.
*/
/* selector:hover {
    property: value; } declaration
} */
 
/* example */
/* #selected{
    color: rgb(204, 148, 148);
} */
#selected:link{
    color: rgb(88, 194, 88);
}
#selected:hover{
    color: rgb(255, 225, 0); 
    /* background-color: rgb(211, 125, 125); */
}
#selected:active{
    color: rgb(83, 19, 223);
    /* background-color: rgb(180, 180, 14); */
}
#selected:visited{
    color: rgb(1, 1, 12);
    /* background-color: yellow; */
}

/* in this case id important then selector */
#me{
    color: rgb(51, 0, 255);
    background-color: #ffffff;
}

#me:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(51, 0, 255);
}


/* #selected1{
    color: blue;
    background-color: aqua;
} */

#selected1:link{
    color: rgb(210, 93, 66);
} 

#selected1:hover{
    color: rgb(255, 225, 0); 
    /* background-color: rgb(211, 125, 125); */
}
#selected1:active{
    color: rgb(222, 21, 21);
    /* background-color: rgb(180, 180, 14); */
}
/* #selected1:visited{
    color: rgb(15, 148, 22);
    /* background-color: yellow; */
/* } */ 

.clickMe{
    background-color: rgb(216, 216, 31);
    border-radius: 30px;
    padding: 8px 20px;
    font-weight: bold;
    
}
.clickMe:hover{
    border-bottom: 6px 6px 6px 6px black solid;
    /* border-right: 3px black solid;
    /*border-top: 1px black solid;
    */ /* border-left: 3px black solid; */ 
}
.clickMe:active{
    border-bottom: 3px black solid;
    border-left: 1.7px black solid;
    border-right: 1px black solid;
    border-top: 1px black solid;
}
