/* #ff3368 ; #ecfdff */

/* 🔹 declaration: that is commbination of property + value */
/* 🔹 Selector: Jis element par styling apply karni hai. (e.g., p, .class, #id) */
/* 🔹 Property: CSS ka wo feature jo element ki styling define karta hai. (e.g., color, font-size, margin) */
/* 🔹 Value: Property ka specific style jo apply hoga. (e.g., red, 16px, 10px) */ 


/* 🔹  selector in html or css */
/* selector {
    property: value; } declaration
} */

/* example */

a {
    color: #ff0000; /*} declaration */
    background-color: #000000; 
}

/* 🔹 class selector in html or css */
/* .selector {
    property: value; } declaration
} */

/* example */

.btn{
    color: red; /*} declaration */
}

/* 🔹 id selector in html or css */
/* #selector {
    property: value; } declaration
} */
 
/* example */

#btn{
    color: green; 
}

/* 🔹 pseudo class css */
/* selector:hover {
    property: value; } declaration
} */
 
/* example */

a:hover{
    color: rgb(0, 0, 0); 
    background-color: rgb(255, 0, 0);
}

#me{
    color: rgb(51, 0, 255);
    background-color: #ffffff;
}

#me:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(51, 0, 255);
}
