/* #ff3368 ; #ecfdff */

/* declaration: that is commbination of property + value */
/* selector {
    property: value; } declaration
} */

/* example */

a {
    color: #ff3368; /*} declaration */
}

/* class selector in html or css */
/* .selector {
    property: value; } declaration
} */

/* example */

.btn{
    color: red; /*} declaration */
}

/* id selector in html or css */
/* #selector {
    property: value; } declaration
} */
 
/* example */

#btn{
    color: green; 
}